---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title={"Use Video Instead of GIF Demo"}
  description="Interactive demo of Interaction to Next Paint metric with the ability to change input delay, processing time, and presentation delay."
  noindex={true}
  nofollow={true}
>
  <Fragment slot="before-styles">
    <slot name="before-styles" />
  </Fragment>
  <main>
    <section class="mt-12 lg:mt-16">
      <div class="mx-auto max-w-3xl px-4 sm:px-6 md:px-8">
        <div class="flex justify-center">
          <slot />
        </div>
        <div
          class="flex flex-col gap-8 text-lg dark:text-zinc-200 mt-8 text-zinc-800"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
            ultricies leo integer malesuada nunc. Commodo nulla facilisi nullam
            vehicula ipsum a arcu cursus vitae. Cras semper auctor neque vitae
            tempus quam pellentesque nec. Condimentum lacinia quis vel eros
            donec ac.
          </p>
          <p>
            Feugiat in fermentum posuere urna nec. Tortor dignissim convallis
            aenean et tortor at risus viverra adipiscing. Aenean vel elit
            scelerisque mauris pellentesque pulvinar pellentesque. Id diam
            maecenas ultricies mi eget. Dis parturient montes nascetur ridiculus
            mus mauris.
          </p>
          <p>
            Scelerisque fermentum dui faucibus in ornare quam viverra orci.
            Ultrices sagittis orci a scelerisque purus. Ultrices tincidunt arcu
            non sodales. Euismod elementum nisi quis eleifend quam adipiscing
            vitae. Est velit egestas dui id ornare arcu. Sit amet massa vitae
            tortor condimentum lacinia. Eget nulla facilisi etiam dignissim diam
            quis enim lobortis.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
