---
import { incrementViews, getViews } from "@/db/client";

// Update counter
const { env } = Astro.locals.runtime;

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const data = await getViews(env.DB, slug);

const count: number = ((data && data["view_count"]) || 0) as number;

await incrementViews(env.DB, slug);
---

<div>{count.toLocaleString()} {count === 1 ? "view" : "views"}</div>
