---
// Update counter
const { env } = Astro.locals.runtime;

interface Props {
  slug: string;
}

const { slug } = Astro.props;

async function increment() {
  console.log("slug = ", slug);
  return env.DB.prepare(
    `INSERT INTO posts (slug, view_count) VALUES (?1, 1) ON CONFLICT (slug) DO UPDATE SET view_count = posts.view_count + 1`
  )
    .bind(slug)
    .run();
}

const data = await env.DB.prepare("SELECT * FROM posts WHERE slug = ?")
  .bind(slug)
  .first();

const count = (data && data["view_count"]) || 0;

await increment();
---

<div>{count} {count === 1 ? "view" : "views"}</div>
