---
import type { MarkdownHeading } from "astro";
import TableOfContentsList from "./TableOfContentsList.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

// Add introduction section.
headings.unshift({
  depth: 2,
  slug: "",
  text: "Introduction",
});
---

<nray-table-of-contents class="table-of-contents">
  <nav
    class="sticky top-6 max-h-[calc(100vh-1.5rem)] overflow-y-auto pb-6 pr-6 pt-1.5 text-sm text-zinc-500 dark:text-zinc-400 font-medium"
  >
    <h2 class="mb-3 font-bold uppercase tracking-wide">On this page</h2>
    <TableOfContentsList headings={headings} />
  </nav>
</nray-table-of-contents>

<style is:global>
  .table-of-contents-item--highlighted > .table-of-contents-link {
    @apply text-zinc-900 dark:text-white;
  }
</style>

<script>
  const HIGHLIGHT_CLASS = "table-of-contents-item--highlighted";

  class TableOfContents extends HTMLElement {
    highlighted: undefined | HTMLElement;

    constructor() {
      super();

      this.addEventListener("click", this.bindClickHandler);
    }

    highlight(el: HTMLElement) {
      if (this.highlighted) {
        this.highlighted.classList.remove(HIGHLIGHT_CLASS);
      }
      el.classList.add(HIGHLIGHT_CLASS);
      this.highlighted = el;
    }

    bindClickHandler(ev: MouseEvent) {
      if (!ev.target || !(ev.target instanceof HTMLElement)) {
        return;
      }

      const closest = ev.target.closest(
        ".table-of-contents-item",
      ) as HTMLElement;

      if (!closest) {
        return;
      }

      this.highlight(closest);

      this.dispatchEvent(new CustomEvent("item-click", { detail: closest }));
    }
  }

  customElements.define("nray-table-of-contents", TableOfContents);
</script>
