---
import type { MarkdownHeading } from "astro";
import TableOfContentsList from "./TableOfContentsList.astro";

interface Heading extends MarkdownHeading {
  children: MarkdownHeading[];
}

interface Props {
  heading: Heading;
}

const { heading } = Astro.props;
---

<li class="table-of-contents-item pl-4" id={`toc-${heading.slug}`}>
  <a class="table-of-contents-link flex py-2" href={`#${heading.slug}`}>
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <TableOfContentsList headings={heading.children} />
    )
  }
</li>
