---
import type { MarkdownHeading } from "astro";
import TableOfContentsList from "./TableOfContentsList.astro";
import {
  tableOfContentsNav,
  tableOfContentsTitle,
} from "./TableOfContents.css";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

// Add introduction section.
headings.unshift({
  depth: 2,
  slug: "",
  text: "Introduction",
});
---

<nray-table-of-contents class="table-of-contents">
  <nav class={tableOfContentsNav}>
    <div class={tableOfContentsTitle}>On this page</div>
    <TableOfContentsList headings={headings} />
  </nav>
</nray-table-of-contents>

<script>
  const HIGHLIGHT_CLASS = "table-of-contents-item--highlighted";

  class TableOfContents extends HTMLElement {
    highlighted: undefined | HTMLElement;

    constructor() {
      super();

      this.addEventListener("click", this.bindClickHandler);
    }

    highlight(el: HTMLElement) {
      if (this.highlighted) {
        this.highlighted.classList.remove(HIGHLIGHT_CLASS);
      }
      el.classList.add(HIGHLIGHT_CLASS);
      this.highlighted = el;
    }

    bindClickHandler(ev: MouseEvent) {
      if (!ev.target || !(ev.target instanceof HTMLElement)) {
        return;
      }

      const closest = ev.target.closest(
        ".table-of-contents-item",
      ) as HTMLElement;

      if (!closest) {
        return;
      }

      this.highlight(closest);

      this.dispatchEvent(new CustomEvent("item-click", { detail: closest }));
    }
  }

  customElements.define("nray-table-of-contents", TableOfContents);
</script>
