.main {
  @apply mt-8;
}

.section {
  @apply mx-auto 
		mt-8 
		px-4 
		sm:px-6 
		md:mt-12 
		md:max-w-2xl 
		md:gap-x-10 
		md:px-8 
		lg:mt-14 
		lg:grid 
		lg:max-w-5xl 
		lg:grid-cols-[245px_minmax(0,1fr)_245px] 
		lg:gap-x-14 
		xl:max-w-8xl;
}

.sectionInner {
  @apply col-start-2 
		lg:col-end-[-1] 
		xl:col-end-3;
}

.sectionTitle {
  @apply text-3xl 
		font-extrabold 
		tracking-tight 
		text-zinc-900 
		md:max-w-5xl 
		md:text-5xl 
		dark:text-white;
}

.sectionMeta {
  @apply col-start-2 
		mb-8 
		mt-4 
		flex 
		items-center 
		text-sm 
		font-medium 
		md:mx-auto 
		md:mb-10 
		md:mt-6 
		md:text-base 
		lg:col-end-[-1] 
		lg:mx-0 
		lg:mb-14 
		lg:mt-8
		xl:col-end-3;
}

.sectionMetaInner {
  @apply flex 
		items-center 
		font-medium;
}

.avatarContainer {
  @apply mr-3 
		h-10 
		w-10 
		rounded-full 
		md:h-12 
		md:w-12;
}

.avatarLink {
  @apply flex items-center;
}

.avatarImage {
  @apply rounded-full;
}

.authorInfo {
  @apply md:flex 
		md:items-center;
}

.authorLink {
  @apply flex 
		items-center;
}

.publishInfo {
  @apply mt-0.5 
		flex 
		items-center 
		md:mt-0;
}

.publishSeparator {
  @apply mx-3 
		hidden 
		font-bold 
		md:block;
}

.publishSeparatorTwo {
  @apply mx-2 
		hidden 
		font-bold 
		sm:block 
		md:mx-3;
}

.readingTimeContainer {
  @apply hidden 
		sm:block;
}

.tableOfContentsContainer {
  @apply hidden 
		md:row-start-3 
		lg:block;
}

.proseContainer {
  @apply font-normal 
		text-zinc-800 
		lg:col-[2/-1]
		xl:col-[2/3]
		dark:text-zinc-300/80;
}
