---
import Article from "@components/Article.astro";
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@src/api";
const posts = await getPosts();
---

<Layout title="Blog — Nicholas Ray">
  <main>
    <section class="mt-16">
      <div class="mx-auto max-w-8xl px-4 sm:px-6 md:px-8">
        <h1
          class="text-4xl font-bold tracking-tight text-zinc-900 lg:text-5xl dark:text-white"
        >
          {posts.length} Posts
        </h1>
        <ul
          class="mt-8 space-y-14 md:mt-12 md:grid md:grid-cols-[repeat(auto-fill,minmax(350px,1fr))] md:gap-x-9 md:gap-y-14 md:space-y-0"
        >
          {
            posts.map((post) => (
              <li>
                <Article post={post} />
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
