---
import Article from "@components/Article.astro";
import Layout from "@layouts/Layout.astro";
import { getPosts } from "src/api";
import type { PostFrontmatter } from "src/types";

const posts = getPosts(await Astro.glob<PostFrontmatter>("./**/index.mdx"));
---

<Layout>
  <main>
    <section class="mt-16">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1 class="text-4xl font-bold tracking-tight text-white lg:text-5xl">
          {posts.length} Posts
        </h1>
        <ul
          class="mt-8 grid grid-cols-[repeat(auto-fill,minmax(350px,1fr))] gap-x-9 gap-y-14 md:mt-12"
        >
          {
            posts.map((post) => (
              <li>
                <Article post={post} />
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
