.aside {
  @apply my-5 
		md:my-6;
}

.aside p {
  @apply m-0 p-0;
}

.asideInner {
  @apply relative 
		rounded-lg bg-sky-100 
		p-6 
		text-sky-900 
		dark:bg-[#1A1F27] 
		dark:text-sky-200 
		dark:ring-1 
		dark:ring-sky-500/30;
}

.asideIconContainer {
  @apply absolute 
		right-0 
		top-0 
		hidden 
		h-10 
		w-10 
		-translate-y-1/3 
		translate-x-1/4 
		rounded-full 
		bg-white 
		p-1 dark:bg-zinc-900 
		md:h-12 
		md:w-12 
		xl:block 
		xl:h-14 
		xl:w-14;
}

.asideIcon {
  @apply h-full 
		w-full 
		rounded-full 
		bg-sky-100 
		p-2 
		dark:bg-[#1A1F27] 
		dark:ring-1 
		dark:ring-sky-500/30 
		md:p-2.5;
}

.asideTitle {
  @apply flex 
		items-center 
		font-bold 
		leading-snug;
}

.asideBody {
  @apply mt-6;
}
