@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 7.5rem; /* 120px */
  --round-section-divider-height: 2vw;
}

#__next {
  height: 100vh;
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-purple-500 to-pink-400 bg-clip-text text-transparent;
  }

  .link-underline {
    position: relative;
    text-decoration: none !important;
    white-space: nowrap;
  }

  .link-underline::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 250ms ease-out;
    transform-origin: left;
  }

  .link-underline:hover::after {
    background-color: currentColor;
    transform: scalex(1);
  }
}
