---
import Layout from "@layouts/Layout.astro";
import avatar from "@assets/images/avatar.jpg";
import { getPosts } from "@src/api";
import Article from "@components/Article.astro";
import { Image } from "@components/Image/index.astro";
import MailingList from "@components/MailingList.astro";
const posts = await getPosts();
const title = "Nicholas Ray";
---

<Layout
  title={title}
  description="Web development tips that improve page speed, user happiness, and business success"
  openGraph={{
    basic: {
      title,
      type: "website",
      image: new URL("/avatar.jpg", Astro.url),
    },
    image: {
      alt: "Profile picture of Nicholas Ray",
      // Needed to prevent Astro SEO from outputting blank height tag.
      height: null,
    },
  }}
  twitter={{
    card: "summary_large_image",
  }}
>
  <main
    class="md:space-y-30 mx-auto max-w-2xl space-y-20 overflow-hidden px-4 pt-16 sm:space-y-32 sm:px-6 md:px-8 lg:pt-20"
  >
    <section>
      <div class="flex items-center gap-x-4">
        <div>
          <h1 class="text-4xl font-extrabold tracking-tight text-foreground">
            Hi, I'm Nick Ray
          </h1>
          <p class="mt-6 text-lg text-muted-foreground lg:text-2xl">
            I help people build fast, accessible, and engaging websites.
          </p>
        </div>
        <div class="flex flex-shrink-0 items-center">
          <Image
            class="w-[80px] rounded-full md:w-[100px]"
            src={avatar}
            widths={[120, 240]}
            sizes="120px"
            alt="Avatar of Nicholas Ray"
          />
        </div>
      </div>
      <div class="mt-10 md:mt-12">
        <MailingList />
      </div>
    </section>
    <section>
      <h2 class="relative text-3xl font-bold tracking-tight text-foreground">
        Latest Posts
      </h2>
      <ul
        class="mt-8 space-y-14 md:grid md:grid-cols-[repeat(auto-fill,minmax(350px,1fr))] md:gap-x-9 md:gap-y-16 md:space-y-0"
      >
        {
          posts.map((post) => (
            <li>
              <Article post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
