---
import Layout from "@layouts/BaseLayout.astro";
import { compareDesc } from "date-fns";
interface Frontmatter {
  title: string;
  description: string;
  publishedAt: string;
  readingTime: string;
  draft?: boolean;
}
const posts = (await Astro.glob<Frontmatter>("./blog/**/index.mdx"))
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => {
    return compareDesc(
      new Date(a.frontmatter.publishedAt || new Date()),
      new Date(b.frontmatter.publishedAt || new Date())
    );
  });
---

<Layout title="nray">
  <header class="py-8 px-8">
    <nav class="flex item-center justify-between">
      <a class="text-white font-semibold tracking-tight text-2xl" href="/"
        >nray</a
      >
      <ul class="text-zinc-200 font-semibold">
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <ul class="space-y-8">
      {
        posts.map((post) => (
          <li>
            <a class="text-white" href={post.url}>
              {post.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <footer class="py-8 px-8">
    <nav class="flex item-center justify-between">
      <a class="text-white" href="/">nray</a>
      <ul class="flex space-x-4">
        <li>
          <a href="https://github.com/nicholasray/nray.dev">View source code</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/privacy">Privacy</a>
        </li>
      </ul>
    </nav>
  </footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
