---
import Layout from "@layouts/Layout.astro";
import { compareDesc } from "date-fns";
interface Frontmatter {
  title: string;
  description: string;
  publishedAt: string;
  readingTime: string;
  draft?: boolean;
}
const posts = (await Astro.glob<Frontmatter>("./blog/**/index.mdx"))
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => {
    return compareDesc(
      new Date(a.frontmatter.publishedAt || new Date()),
      new Date(b.frontmatter.publishedAt || new Date())
    );
  });
const featured = posts[0];
const restOfPosts = posts.slice(1);
---

<Layout title="nray">
  <main>
    <div
      class="max-w-7xl min-h-[40rem] mx-auto flex lg:grid lg:grid-cols-2 lg-items-center lg:gap-14"
    >
      <div>
        <h1
          class="text-5xl font-bold tracking-tight text-white lg:text-6xl mb-14"
        >
          {featured.frontmatter.title}
        </h1>
        <a
          href={featured.url}
          class="relative z-10 min-w-[12rem] inline-flex w-full items-center justify-center rounded-full bg-zinc-50 py-5 px-6 text-lg font-semibold text-slate-900 md:w-auto"
        >
          Read article</a
        >
      </div>
      <div></div>
    </div>
    <ul class="space-y-8 max-w-7xl mx-auto">
      {
        restOfPosts.map((post) => (
          <li>
            <a class="text-white" href={post.url}>
              {post.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
