---
import Layout from "@layouts/Layout.astro";
import { compareDesc } from "date-fns";
interface Frontmatter {
  title: string;
  description: string;
  publishedAt: string;
  readingTime: string;
  draft?: boolean;
}
const posts = (await Astro.glob<Frontmatter>("./blog/**/index.mdx"))
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => {
    return compareDesc(
      new Date(a.frontmatter.publishedAt || new Date()),
      new Date(b.frontmatter.publishedAt || new Date())
    );
  });
---

<Layout title="nray">
  <main>
    <ul class="space-y-8">
      {
        posts.map((post) => (
          <li>
            <a class="text-white" href={post.url}>
              {post.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
