---
import { WebVitalScale } from "@src/components/WebVitalScale/index.astro";
import { Slider } from "@src/components/Slider/index.astro";
import { Input } from "@src/components/Input/index.astro";
---

<div class="mt-4 flex justify-center">
  <div class="flex max-w-md flex-grow flex-col">
    <div class="flex justify-between">
      <label for="inp-text-input">Additional latency:</label>
      <span class="inp-input-value">0 ms</span>
    </div>
    <Slider
      class="mt-3 block"
      id="inp-text-input"
      type="range"
      min="0"
      max="500"
      value="0"
      step="50"
    />
  </div>
</div>

<div class="mt-8">
  <Input className="inp-input" type="text" placeholder="Type something..." />
</div>
<WebVitalScale className="mt-8" range={[200, 500]} />

<script>
  import { onINP } from "web-vitals";
  const scale = document.querySelector(".web-vital-scale")! as HTMLElement;
  const latencyRange = document.querySelector("input")!;
  const latencyValue = document.querySelector(".inp-input-value")!;
  const input = document.querySelector(".inp-input")!;

  latencyRange.addEventListener("input", () => {
    latencyValue.textContent = `${latencyRange.value}`;
  });

  input.addEventListener("keydown", () => {
    const t0 = performance.now();
    const delay = parseInt(latencyRange.value);

    while (performance.now() - t0 < delay);
  });

  onINP(
    (interaction) => {
      // @ts-ignore
      scale.value = interaction.value;
    },
    {
      durationThreshold: 0,
      reportAllChanges: true,
    },
  );
</script>
