---
import { format } from "date-fns";

// eslint-disable-next-line no-unused-vars
interface Props {
  publishedAt: string;
  readingTime: string;
}

const { readingTime, publishedAt } = Astro.props;
---

<>
  {
    publishedAt && (
      <>
        <time datetime={publishedAt}>
          {format(new Date(publishedAt), "LLLL d, yyyy")}
        </time>
        <span>&bull;</span>
      </>
    )
  }{" "}
  <span>{readingTime}</span>
</>
