---
interface Props {
  number: string;
}

const { number } = Astro.props;
---

<figure>
  <div class="text-center text-8xl font-extrabold tracking-tighter md:text-9xl">
    {number}
  </div>
  <figcaption><slot /></figcaption>
</figure>

<style>
  :global(.prose) figcaption :global(p) {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
