---
import styles from "./BigNumber.module.css";
const { bigNumber } = styles;
interface Props {
  number: string;
}

const { number } = Astro.props;
---

<figure>
  <div class={bigNumber}>
    {number}
  </div>
  <figcaption><slot /></figcaption>
</figure>

<style>
  :global(.prose) figcaption :global(p) {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
