---
import { Image } from "@components/Image/index.astro";

interface Props {
  src: ImageMetadata;
  alt: string;
  caption?: string;
  shadow?: boolean;
  background?: boolean;
}

const { src, alt, caption, shadow, background, ...props } = Astro.props;
---

<figure>
  <a href={src.src}>
    <Image
      alt={alt}
      class:list={[
        "w-full rounded-lg",
        { "shadow-xl": shadow, "bg-white": background },
      ]}
      src={src}
      widths={[400, 800, 1800]}
      sizes="(min-width: 48rem) 55rem, 100vw"
      {...props}
    />
  </a>
  {caption && <figcaption>{caption}</figcaption>}
</figure>
