---
import { Image } from "@components/Image/index.astro";

interface Props {
  src: ImageMetadata;
  alt: string;
  caption?: string;
  shadow?: boolean;
  fullWidth?: boolean;
  rounded?: boolean;
  background?: boolean;
}

const {
  src,
  alt,
  caption,
  shadow,
  background,
  fullWidth = true,
  rounded = true,
  ...props
} = Astro.props;
---

<figure>
  <a href={src.src}>
    <Image
      alt={alt}
      centered={!fullWidth}
      class:list={[
        {
          "!mt-0": !fullWidth,
          "w-full": fullWidth,
          "shadow-xl": shadow,
          "bg-white": background,
          "rounded-lg": rounded,
        },
      ]}
      src={src}
      widths={src.format !== "svg" ? [400, 800, 1400] : undefined}
      sizes={src.format !== "svg"
        ? "(min-width: 48rem) 42.375rem, 100vw"
        : undefined}
      {...props}
    />
  </a>
  {caption && <figcaption>{caption}</figcaption>}
</figure>
