<footer
  class="sticky top-[100vh] border-t border-t-zinc-700/10 py-14 text-zinc-600 dark:border-t-zinc-200/10 dark:text-zinc-200 lg:py-20"
>
  <div class="flex flex-col items-center justify-center text-center">
    <a href="/" class="mb-5 text-xl font-semibold tracking-tight">
      <span class="sr-only">nray.dev home page</span>
      <svg
        class="h-7 dark:fill-white fill-zinc-900"
        viewBox="0 0 281 85"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.31152 51.9592V43.178L41.4365 27.711V37.8144L17.3879 47.4688L17.7122 46.945V48.1923L17.3879 47.6684L41.4365 57.3228V67.4262L6.31152 51.9592ZM68.3378 45.8473V68H57.7105V29.6818H67.8389V36.4424H68.2879C69.1361 34.2138 70.5581 32.4509 72.5538 31.1537C74.5496 29.8398 76.9694 29.1829 79.8133 29.1829C82.4743 29.1829 84.7944 29.765 86.7735 30.9292C88.7526 32.0933 90.291 33.7564 91.3886 35.9185C92.4863 38.0639 93.0351 40.6251 93.0351 43.6021V68H82.4078V45.498C82.4244 43.1531 81.8257 41.3236 80.6116 40.0098C79.3976 38.6793 77.7261 38.014 75.5973 38.014C74.1671 38.014 72.9031 38.3217 71.8054 38.9371C70.7244 39.5524 69.8762 40.4505 69.2609 41.6313C68.6621 42.7955 68.3545 44.2008 68.3378 45.8473ZM100.708 68V29.6818H111.011V36.3675H111.411C112.109 33.9893 113.282 32.1931 114.928 30.979C116.575 29.7483 118.471 29.133 120.616 29.133C121.148 29.133 121.722 29.1662 122.337 29.2328C122.953 29.2993 123.493 29.3908 123.959 29.5072V38.9371C123.46 38.7874 122.77 38.6543 121.888 38.5379C121.007 38.4215 120.2 38.3633 119.468 38.3633C117.905 38.3633 116.508 38.7042 115.277 39.3861C114.063 40.0513 113.099 40.9827 112.384 42.1801C111.685 43.3776 111.336 44.758 111.336 46.3213V68H100.708ZM138.58 68.7235C136.135 68.7235 133.956 68.2994 132.044 67.4512C130.131 66.5864 128.618 65.3141 127.504 63.6343C126.406 61.9379 125.857 59.8258 125.857 57.2979C125.857 55.1691 126.248 53.3812 127.03 51.9343C127.811 50.4874 128.876 49.3232 130.223 48.4418C131.57 47.5603 133.1 46.8951 134.813 46.446C136.543 45.997 138.355 45.681 140.251 45.498C142.48 45.2652 144.276 45.049 145.64 44.8494C147.004 44.6332 147.993 44.3172 148.608 43.9015C149.224 43.4857 149.531 42.8703 149.531 42.0554V41.9057C149.531 40.3258 149.033 39.1034 148.035 38.2385C147.053 37.3737 145.656 36.9413 143.844 36.9413C141.931 36.9413 140.409 37.3654 139.278 38.2136C138.147 39.0452 137.399 40.0929 137.033 41.3569L127.204 40.5586C127.703 38.2302 128.684 36.2179 130.148 34.5215C131.611 32.8085 133.499 31.4946 135.811 30.5799C138.139 29.6486 140.833 29.1829 143.894 29.1829C146.022 29.1829 148.06 29.4323 150.005 29.9313C151.968 30.4302 153.706 31.2036 155.219 32.2513C156.749 33.2991 157.955 34.6462 158.837 36.2927C159.718 37.9226 160.159 39.8767 160.159 42.1552V68H150.08V62.6863H149.781C149.166 63.8838 148.342 64.9399 147.311 65.8546C146.28 66.7527 145.041 67.4595 143.594 67.9751C142.147 68.474 140.476 68.7235 138.58 68.7235ZM141.623 61.3891C143.187 61.3891 144.567 61.0814 145.765 60.4661C146.962 59.8341 147.902 58.9859 148.584 57.9215C149.265 56.8571 149.606 55.6514 149.606 54.3042V50.2379C149.274 50.4541 148.816 50.6537 148.234 50.8366C147.669 51.003 147.028 51.161 146.313 51.3106C145.598 51.4437 144.883 51.5684 144.168 51.6848C143.453 51.7846 142.804 51.8761 142.222 51.9592C140.975 52.1422 139.885 52.4332 138.954 52.8324C138.023 53.2315 137.299 53.772 136.784 54.4539C136.268 55.1192 136.01 55.9507 136.01 56.9486C136.01 58.3955 136.534 59.5015 137.582 60.2665C138.646 61.0149 139.994 61.3891 141.623 61.3891ZM174.262 82.3693C172.915 82.3693 171.651 82.2612 170.47 82.045C169.306 81.8454 168.341 81.5877 167.576 81.2717L169.971 73.3386C171.219 73.7211 172.341 73.929 173.339 73.9623C174.354 73.9955 175.227 73.7627 175.959 73.2638C176.707 72.7648 177.314 71.9166 177.78 70.7192L178.403 69.0977L164.658 29.6818H175.834L183.767 57.8217H184.166L192.174 29.6818H203.425L188.532 72.1412C187.817 74.2034 186.844 75.9996 185.613 77.5297C184.399 79.0764 182.86 80.2655 180.998 81.097C179.135 81.9452 176.89 82.3693 174.262 82.3693ZM236.837 14.5142L220.372 75.6836H211.217L227.682 14.5142H236.837ZM272.128 51.9592L237.003 67.4262V57.3228L261.052 47.6684L260.728 48.1923V46.945L261.052 47.4688L237.003 37.8144V27.711L272.128 43.178V51.9592Z"
        ></path>
      </svg>
    </a>
    <div class="mb-4">
      <a
        class="font-semibold text-zinc-500 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white"
        href="https://github.com/nicholasray/nray.dev"
      >
        View source code
      </a>
    </div>
    <div class="mb-12 text-sm text-zinc-600 dark:text-zinc-400">
      © 2022 Nicholas Ray. All rights reserved.
    </div>
    <div class="text-sm font-bold flex gap-4">
      <a
        class="hover:text-zinc-900 dark:text-zinc-400 text-zinc-500 dark:hover:text-white"
        href="/privacy/"
        class="mb-5">Privacy</a
      >
      <a
        class="hover:text-zinc-900 dark:text-zinc-400 text-zinc-500 dark:hover:text-white"
        href="/licenses.txt"
        class="mb-5">Licenses</a
      >
    </div>
  </div>
</footer>
