---
// eslint-disable-next-line no-unused-vars
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<div class="flex flex-col items-center">
  <h2
    class="text-3xl font-extrabold tracking-tight text-zinc-900 dark:text-white"
  >
    Boost your website's speed
  </h2>
  <p class="mt-6 max-w-3xl text-lg text-zinc-600 dark:text-zinc-300">
    Learn web performance strategies that lead to increased conversions and
    happier users
  </p>
  <form
    action={url}
    method="post"
    class="mt-14 flex w-full max-w-2xl items-center"
  >
    <div class="relative flex w-full items-center">
      <input
        type="email"
        name="email_address"
        required
        class="shadow-inner-10 h-16 w-full rounded-full bg-zinc-100 py-2 pl-7 pr-40 font-semibold text-zinc-900 placeholder:text-zinc-600 dark:bg-zinc-50"
        placeholder="Email Address"
        aria-label="Email Address"
      />
      <button
        type="submit"
        class="absolute right-1 flex h-14 items-center rounded-full bg-zinc-700 px-5 py-4 font-medium text-zinc-300 hover:bg-zinc-700/95 hover:text-zinc-50 active:bg-zinc-700 active:text-zinc-300/90"
      >
      Subscribe
      </button>
    </div>
  </form>
  <div class="mt-8 text-sm text-zinc-600 dark:text-zinc-400">
    No spam. Unsubscribe anytime. <span class="text-xl">✌️</span>
  </div>
</div>
