---
import { Card, CardHeader, CardContent } from "@components/Card";
import { Button } from "@components/Button/Button";
import { Input } from "@components/InputBox";

const FORM_URL = "https://app.convertkit.com/forms/3512386/subscriptions";
---

<Card className="mt-10 md:mt-12">
  <CardHeader>
    <p class="text-lg text-muted-foreground">
      Get new articles delivered to your email. No spam, unsubscribe anytime.
    </p>
  </CardHeader>
  <CardContent>
    <form method="post" action={FORM_URL} method="post" class="flex gap-x-3">
      <Input
        type="email"
        name="email_address"
        required
        aria-label="Email Address"
        placeholder="Enter email…"
      />
      <Button type="submit">Subscribe</Button>
    </form>
  </CardContent>
</Card>
