<div
  class="prose-pre:shadow-inner-10 prose !prose-invert prose-zinc max-w-none prose-pre:mt-0 prose-pre:px-0 lg:prose-xl lg:prose-pre:mt-0 lg:prose-pre:rounded-2xl lg:prose-pre:px-0"
>
  <slot />
</div>
