---
import styles from "./Prose.module.css";
const { prose } = styles;

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={[`prose ${prose}`, className]}>
  <slot />
</div>
