---
import { prose } from "./Prose.css";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    `prose ${prose} font-normal text-zinc-800 dark:text-zinc-300/80`,
    className,
  ]}
>
  <slot />
</div>
