.prose {
  --tw-prose-headings: #18181b;
  --tw-prose-links: #18181b;
  --tw-prose-bold: #18181b;
  --tw-prose-counters: #71717a;
  --tw-prose-bullets: #d4d4d8;
  --tw-prose-captions: #71717a;
  --tw-prose-code: #18181b;
  --tw-prose-th-borders: #d4d4d8;
  --tw-prose-td-borders: #e4e4e7;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #a1a1aa;
  --tw-prose-invert-bullets: #52525b;
  --tw-prose-invert-captions: #a1a1aa;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-th-borders: #52525b;
  --tw-prose-invert-td-borders: #3f3f46;
}

@media (prefers-color-scheme: dark) {
  .prose {
    --tw-prose-headings: var(--tw-prose-invert-headings);
    --tw-prose-links: var(--tw-prose-invert-links);
    --tw-prose-bold: var(--tw-prose-invert-bold);
    --tw-prose-counters: var(--tw-prose-invert-counters);
    --tw-prose-bullets: var(--tw-prose-invert-bullets);
    --tw-prose-code: var(--tw-prose-invert-code);
    --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
    --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
  }
}

.prose {
  @apply text-base leading-[1.75] lg:text-lg lg:leading-[1.7777778];

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th {
    @apply font-extrabold tracking-tight text-[var(--tw-prose-headings)];
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply -ml-8 pl-8;

    &:hover .heading-link {
      @apply block opacity-100;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    + * {
      @apply mt-0;
    }
  }

  h1 {
    @apply mb-8 mt-0 text-4xl leading-[1.1111111] lg:mb-10 lg:text-5xl lg:leading-none;
  }

  h2 {
    @apply mb-6 mt-12 text-2xl leading-[1.3333333] lg:mb-8 lg:mt-14 lg:text-3xl lg:leading-[1.3333333];
  }

  h3 {
    @apply mb-3 text-xl leading-[1.6] lg:mb-4 lg:mt-10 lg:text-2xl lg:leading-normal;
  }

  h4 {
    @apply mb-2 mt-6 leading-normal lg:mb-2 lg:mt-8 lg:leading-[1.5555556];
  }

  figure {
    @apply my-8;
  }

  figcaption {
    @apply text-sm leading-[1.4285714] lg:text-base lg:leading-normal;
  }

  ul {
    @apply my-5 list-disc ps-[1.625rem] lg:my-6 lg:ps-7;

    li::marker {
      @apply text-[var(--tw-prose-bullets)];
    }
  }

  ol {
    @apply my-5 list-decimal ps-[1.625rem] lg:my-6 lg:ps-7;

    li::marker {
      @apply text-[var(--tw-prose-counters)];
    }
  }

  li {
    @apply my-2 ps-1.5 lg:my-3 lg:ps-2;
  }

  pre {
    @apply overflow-x-auto py-3 text-sm leading-[1.7142857] lg:py-4 lg:text-base lg:leading-[1.5];
  }

  code {
    @apply text-sm font-semibold leading-[inherit] text-[var(--tw-prose-code)] lg:text-base lg:leading-[1.5];

    &:before {
      content: "`";
    }

    &:after {
      content: "`";
    }
  }

  pre code {
    font-weight: inherit;

    &:before,
    &:after {
      content: none;
    }
  }

  table {
    @apply my-7 w-full table-auto text-left  text-sm leading-[1.7142857] lg:text-base lg:leading-[1.5];
  }

  thead {
    @apply border-b border-b-[var(--tw-prose-th-borders)];
  }

  th {
    @apply px-2 pb-2 first:ps-0 lg:px-3 lg:pb-3;
  }

  tr {
    @apply border-b border-b-[var(--tw-prose-td-borders)];

    &:last-child {
      @apply border-b-0;
    }
  }

  td {
    @apply p-2 first:ps-0 lg:p-3;
  }

  img {
    @apply my-8;
  }

  p {
    @apply mb-5 lg:mb-6;
  }

  strong {
    @apply font-semibold text-[var(--tw-prose-bold)];
  }

  figcaption {
    @apply flex justify-center text-[var(--tw-prose-captions)];

    p {
      @apply text-[var(--tw-prose-captions)];
    }
  }

  a {
    @apply font-medium text-[var(--tw-prose-links)] underline;
  }

  > :last-child {
    @apply mb-0 !important;
  }

  .figure-item {
    @apply my-8;
  }

  /* Blog specific items */
  .aside {
    @apply md:-mx-6;
  }

  [data-rehype-pretty-code-title] {
    @apply flex min-h-[2.5rem] items-center py-1.5 pl-[calc(1rem+4px)] pr-0.5 font-mono text-sm;
  }

  [data-rehype-pretty-code-fragment] {
    @apply -mx-4 my-8 bg-slate-900/95 dark:bg-[#0C0E12] md:-mx-6 md:overflow-hidden md:rounded-lg;

    code {
      @apply grid;
    }
  }

  [data-line-numbers] {
    counter-reset: line;
  }

  [data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    @apply mr-4 inline-block w-4 text-center text-zinc-500;
  }

  [data-line-numbers-max-digits="2"] > [data-line]::before {
    @apply w-6;
  }

  [data-line-numbers-max-digits="3"] > [data-line]::before {
    @apply w-8;
  }

  [data-line] {
    @apply border-l-4 border-l-transparent px-[calc(1rem-4px)] md:px-[calc(1.5rem-4px)];
  }

  [data-highlighted-chars] {
    @apply rounded-md border-b-2 border-emerald-300 bg-[#324062] p-1 dark:bg-[#181c25];
  }

  [data-highlighted-line] {
    @apply border-l-[#3bbae5] bg-slate-500/20  dark:border-l-[#428fa9] dark:bg-[#181c25];
  }

  [data-rehype-pretty-code-title] {
    @apply text-zinc-300;
  }
}
