<div
  class="prose-pre:shadow-inner-10 prose prose-zinc max-w-none font-serif text-zinc-800 dark:prose-invert lg:prose-lg prose-headings:font-sans prose-headings:font-extrabold prose-headings:tracking-tight prose-pre:mt-0 prose-pre:px-0 dark:text-zinc-300/80 lg:prose-pre:mt-0 lg:prose-pre:rounded-2xl lg:prose-pre:px-0 prose-figcaption:flex prose-figcaption:justify-center prose-figcaption:max-w-2xl prose-figcaption:mt-0 lg:prose-code:text-base"
>
  <slot />
</div>

<style is:global>
  .prose {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply -ml-8 pl-8;

      &:hover .heading-link {
        @apply block opacity-100;
      }
    }

    .sp-layout {
      display: block !important;
    }

    .sp-preview {
      width: auto !important;
    }

    .sp-preview,
    .sp-editor {
      min-height: 400px;
    }

    [data-rehype-pretty-code-title] {
      @apply py-1.5 pl-[calc(1rem+4px)] pr-0.5 font-mono text-sm flex items-center min-h-[2.5rem];
    }

    [data-rehype-pretty-code-fragment] {
      @apply -mx-4 my-8 !max-w-none;

      pre {
        @apply mb-0 mt-0 rounded-none bg-[#0C0E13];
      }

      [data-line] {
        @apply border-l-4 border-l-transparent pl-4;
      }

      code {
        @apply grid;
      }

      code[data-line-numbers] {
        counter-reset: line;
      }

      code[data-line-numbers] > [data-line]::before {
        counter-increment: line;
        content: counter(line);

        @apply mr-6 inline-block w-4 text-center text-zinc-500;
      }

      code[data-line-numbers-max-digits="2"] > [data-line]::before {
        width: 2rem;
      }

      code[data-line-numbers-max-digits="3"] > [data-line]::before {
        width: 3rem;
      }
    }

    @media screen(md) {
      [data-rehype-pretty-code-fragment] {
        @apply overflow-hidden rounded-lg;
      }
    }
  }

  :root {
    --shiki-color-background: #fbfefc;
    --shiki-color-text: #414141;
    --shiki-token-constant: #1976d2;
    --shiki-token-string: #22863a;
    --shiki-token-comment: #52525b;
    --shiki-token-keyword: #d32f2f;
    --shiki-token-parameter: #ff9800;
    --shiki-token-function: #6f42c1;
    --shiki-token-string-expression: #047857;
    --shiki-token-punctuation: #212121;
    --shiki-token-link: #22863a;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --shiki-color-background: rgb(12 14 19);
      --shiki-color-text: #bfbdb6;
      --shiki-token-constant: #bfbdb6;
      --shiki-token-string: #ffab70;
      --shiki-token-comment: #acb6bf8c;
      --shiki-token-keyword: #ff8f40;
      --shiki-token-parameter: #ff9800;
      --shiki-token-function: #ffb454;
      --shiki-token-string-expression: #aad94c;
      --shiki-token-punctuation: #bbbbbb;
      --shiki-token-link: #ffab70;
    }
  }

  @media (prefers-color-scheme: light) {
    [data-rehype-pretty-code-fragment] {
      @apply ring-1 ring-[#c4edd9];

      [data-highlighted-line] {
        @apply !border-l-emerald-300 bg-[#ecf9f2];
      }
    }

    [data-rehype-pretty-code-title] {
      @apply border-b border-[#c4edd9] bg-[#fbfefc]  text-emerald-900;
    }
  }

  @media (prefers-color-scheme: dark) {
    [data-rehype-pretty-code-fragment] {
      [data-highlighted-line] {
        @apply !border-l-emerald-400 bg-[#191d29];
      }
    }

    [data-rehype-pretty-code-title] {
      @apply bg-zinc-800 text-gray-300;
    }
  }

  /* latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/fonts/merriweather/400.woff2) format("woff2");
  }
  /* latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(/fonts/merriweather/700.woff2) format("woff2");
  }
</style>
