---
import "./Prose.css";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "prose font-normal prose-zinc max-w-none text-zinc-800 dark:prose-invert lg:prose-lg prose-headings:font-sans prose-headings:font-extrabold prose-headings:tracking-tight prose-pre:mt-0 prose-pre:px-0 dark:text-zinc-300/80 lg:prose-pre:mt-0 lg:prose-pre:rounded-2xl lg:prose-pre:px-0 prose-figcaption:flex prose-figcaption:justify-center prose-figcaption:max-w-2xl prose-figcaption:mt-0 lg:prose-code:text-base prose-pre:bg-emerald-850",
    className,
  ]}
>
  <slot />
</div>
