<div
  class="prose prose-zinc max-w-none font-serif text-zinc-800 dark:prose-invert lg:prose-lg prose-headings:font-sans prose-headings:font-extrabold prose-headings:tracking-tight prose-pre:mt-0 prose-pre:px-0 dark:text-zinc-300/80 lg:prose-pre:mt-0 lg:prose-pre:rounded-2xl lg:prose-pre:px-0 prose-figcaption:flex prose-figcaption:justify-center prose-figcaption:max-w-2xl prose-figcaption:mt-0 lg:prose-code:text-base prose-pre:bg-emerald-850"
>
  <slot />
</div>

<style is:global>
  .prose {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply -ml-8 pl-8;

      &:hover .heading-link {
        @apply block opacity-100;
      }
    }

    .sp-layout {
      display: block !important;
    }

    .sp-preview {
      width: auto !important;
    }

    .sp-preview,
    .sp-editor {
      min-height: 400px;
    }

    .figure-demo {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    @media (min-width: 64rem) {
      .figure-demo {
        margin-top: 1.7777778em;
        margin-bottom: 1.7777778em;
      }
    }

    [data-rehype-pretty-code-title] {
      @apply flex min-h-[2.5rem] items-center py-1.5 pl-[calc(1rem+4px)] pr-0.5 font-mono text-sm;
    }

    [data-rehype-pretty-code-fragment] {
      @apply -mx-4 my-8 !max-w-none;

      pre {
        @apply mb-0 mt-0 rounded-none;
      }

      [data-line] {
        @apply border-l-4 border-l-transparent px-4;
      }

      code {
        @apply grid;
      }

      code[data-line-numbers] {
        counter-reset: line;
      }

      code[data-line-numbers] > [data-line]::before {
        counter-increment: line;
        content: counter(line);

        @apply mr-6 inline-block w-4 text-center text-zinc-500;
      }

      code[data-line-numbers-max-digits="2"] > [data-line]::before {
        width: 2rem;
      }

      code[data-line-numbers-max-digits="3"] > [data-line]::before {
        width: 3rem;
      }
    }

    @media screen(md) {
      [data-rehype-pretty-code-fragment] {
        @apply overflow-hidden rounded-lg;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    [data-rehype-pretty-code-fragment] {
      @apply bg-[hsl(167_96%_7%_/_1)];

      pre {
        @apply bg-[hsl(167_96%_7%_/_1)];
      }

      [data-highlighted-line] {
        @apply !border-l-emerald-400 bg-[#15322c];
      }
    }

    [data-rehype-pretty-code-title] {
      @apply text-emerald-100;
    }
  }

  @media (prefers-color-scheme: dark) {
    [data-rehype-pretty-code-fragment] {
      @apply bg-[#0C0E12];

      pre {
        @apply bg-[#0C0E12];
      }

      [data-highlighted-line] {
        @apply !border-l-emerald-200 bg-[#151619];
      }
    }

    [data-rehype-pretty-code-title] {
      @apply bg-[#0C0E12] text-gray-300;
    }
  }

  /* latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/fonts/merriweather/400.woff2) format("woff2");
  }
  /* latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(/fonts/merriweather/700.woff2) format("woff2");
  }
</style>
