---
import { Icon } from "astro-icon";
---

<a
  href="/rss.xml"
  title="RSS"
  class="block rounded-full p-3 hover:bg-zinc-100 dark:hover:bg-zinc-800 dark:hover:text-white"
>
  <div>
    <Icon class="h-5 md:h-6" name="heroicons:rss" />
    <span class="sr-only">RSS</span>
  </div>
</a>
