---
import { Icon } from "astro-icon";
---

<ul class="not-prose list-none space-y-4 !pl-0 text-base font-semibold">
  <li class="flex">
    <a
      class="flex items-center hover:text-zinc-200"
      href="mailto:nray@nray.dev"
    >
      <Icon class="w-6 h-6" name="mdi:email" />
      <span class="ml-4">nray@nray.dev</span>
    </a>
  </li>
  <li class="flex">
    <a
      class="flex items-center hover:text-zinc-200"
      href="https://github.com/nicholasray"
    >
      <Icon class="w-6 h-6" name="mdi:github" />
      <span class="ml-4">Follow on GitHub</span>
    </a>
  </li>
  <li class="flex">
    <a
      class="flex items-center hover:text-zinc-200"
      href="https://www.linkedin.com/in/nicholas-ray/"
    >
      <Icon class="w-6 h-6" name="mdi:linkedin" />
      <span class="ml-4">Follow on LinkedIn</span>
    </a>
  </li>
  <li class="flex">
    <a
      class="flex items-center hover:text-zinc-200"
      href="/nicholas-ray-resume.pdf"
    >
      <Icon class="w-6 h-6" name="mdi:document" />
      <span class="ml-4">Download Resume</span>
    </a>
  </li>
</ul>
