---
import { Icon } from "astro-icon";
---

<ul
  class="not-prose list-none space-y-4 !pl-0 font-sans text-base font-semibold"
>
  {
    [
      {
        href: "mailto:nray@nray.dev",
        text: "nray@nray.dev",
        icon: "mdi:email",
      },
      {
        href: "https://github.com/nicholasray",
        text: "Follow on GitHub",
        icon: "mdi:github",
      },
      {
        href: "https://www.linkedin.com/in/nicholas-ray/",
        text: "Follow on LinkedIn",
        icon: "mdi:linkedin",
      },
    ].map((data) => {
      return (
        <li class="flex">
          <a
            class="flex items-center hover:text-zinc-500 dark:hover:text-zinc-200"
            href={data.href}
          >
            <Icon class="h-6 w-6" name={data.icon} />
            <span class="ml-4">{data.text}</span>
          </a>
        </li>
      );
    })
  }
</ul>
