---
import type { MarkdownHeading } from "astro";
import TableOfContentsList from "./TableOfContentsList.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav
  role="navigation"
  class="sticky top-6 max-h-[calc(100vh-1.5rem)] overflow-y-auto pb-6 text-sm text-zinc-800 dark:text-zinc-400"
>
  <h2 class="mb-3 font-mono font-bold uppercase tracking-wide">On this page</h2>
  <TableOfContentsList headings={headings} />
</nav>
