---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon";

interface Props extends HTMLAttributes<"aside"> {
  heading: string;
}

const { class: className, heading, ...rest } = Astro.props;
---

<aside
  class:list={[
    "callout rounded-lg p-6 md:p-8 bg-sky-50 text-sky-900 dark:bg-sky-500/5 dark:text-sky-200 dark:ring-1 dark:ring-sky-500/30",
    className,
  ]}
  {...rest}
>
  <div class="font-bold flex items-center">
    <Icon class="h-5 inline-block me-1" name="heroicons:light-bulb" />
    {heading}
  </div>
  <div class="mt-6">
    <slot />
  </div>
</aside>

<style>
  .callout :global(p) {
    margin: 0;
    padding: 0;
  }
</style>
