@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 400 800;
  src: url(/fonts/inter/inter.var.woff2) format("woff2");
  font-display: optional;
}

html,
body {
  height: 100%;
}
