---
import { SEO, Props as SeoProps } from "astro-seo";

export interface Props extends SeoProps {}
const {
  title = "Nicholas Ray | Software Engineer",
  description = "Learn how to build better products. Articles for web developers.",
  ...rest
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-zinc-900 text-zinc-400 antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO title={title} description={description} {...rest} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      is:inline
      src="https://lively-genuine.nray.dev/script.js"
      data-site="GCZUEQJO"
      defer
    ></script>
    <style is:inline>
      html,
      body {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
