---
import { SEO, type Props as SeoProps } from "astro-seo";
import "../styles/global.css";

export interface Props extends SeoProps {
  title?: string;
  htmlClass?: string;
}

const { title = "Nicholas Ray", htmlClass, ...rest } = Astro.props;
---

<html lang="en" class:list={["dark", htmlClass]}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      class="meta-theme"
      name="theme-color"
      content="#020617"
      data-other="#f8fafc"
    />
    <meta
      class="meta-theme"
      name="color-scheme"
      content="dark"
      data-other="light"
    />
    <title>{title}</title>
    <SEO {...rest} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <slot name="before-styles" />
    <link
      as="font"
      crossorigin="anonymous"
      href="/assets/fonts/inter.var.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={new URL("rss.xml", Astro.site)}
    />
    <script is:inline>
      function toggleMeta() {
        // Iterate through the relevant meta tags and change to value for dark mode.
        const metaTags = document.head.querySelectorAll(".meta-theme");
        for (let i = 0; i < metaTags.length; i++) {
          const meta = metaTags[i];
          const other = meta.dataset.other;
          meta.dataset.other = meta.content;
          meta.content = other;
        }

        document.documentElement.classList.remove("dark");
      }

      function toggleTheme() {
        if (localStorage.theme === "dark" || !("theme" in localStorage)) {
          return;
        } else if (localStorage.theme === "light") {
          toggleMeta();
        } else {
          const mediaQueryList = window.matchMedia(
            "(prefers-color-scheme: dark)"
          );
          if (!mediaQueryList.matches) toggleMeta();
        }
      }
      toggleTheme();
    </script>
    <script
      is:inline
      defer
      src="https://analytics.nray.dev/script.js"
      data-website-id="1d61305a-7779-4eb5-b988-c79ed465abd9"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
