---
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  htmlClass?: string;
}

const { title = "Nicholas Ray", htmlClass, ...rest } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class={htmlClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <SEO {...rest} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      name="theme-color"
      content="#FAFAFA"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#18181B"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="color-scheme" content="light dark" />
    <link
      as="font"
      crossorigin="anonymous"
      href="/fonts/inter/variable.woff2"
      rel="preload"
      type="font/woff2"
    />
    <slot name="before-styles" />
    <script
      is:inline
      defer
      data-domain="nray.dev"
      data-api="https://analytics.nray.dev/api/event"
      src="/js/analytics.js"></script>
    <style is:inline>
      @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400 800;
        src: url(/fonts/inter/variable.woff2) format("woff2");
        font-display: fallback;
      }

      html,
      body {
        height: 100%;
      }
    </style>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class="bg-white text-zinc-500 antialiased dark:bg-zinc-900 dark:text-zinc-400"
  >
    <slot />
  </body><!-- prettier-ignore-start -->
</html>
