---
import { SEO, Props as SeoProps } from "astro-seo";

export interface Props extends SeoProps {}
const { title = "Nicholas Ray", preloadFonts = false, ...rest } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <slot name="after-head" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <SEO {...rest} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      class="meta-theme"
      name="theme-color"
      content="#FAFAFA"
      data-other="#18181B"
    />
    <meta
      class="meta-theme"
      name="color-scheme"
      content="light"
      data-other="dark"
    />
    {
      preloadFonts && (
        <>
          <link
            as="font"
            crossorigin="anonymous"
            href="/fonts/merriweather/400.woff2"
            rel="preload"
            type="font/woff2"
          />
          <link
            as="font"
            crossorigin="anonymous"
            href="/fonts/merriweather/700.woff2"
            rel="preload"
            type="font/woff2"
          />
        </>
      )
    }
    <script is:inline>
      var theme = localStorage.getItem("theme");

      if (
        theme === "dark" ||
        (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        // Switch to dark mode.
        var metaTags = document.head.querySelectorAll(".meta-theme");
        for (var i = 0; i < metaTags.length; i++) {
          var meta = metaTags[i];
          var other = meta.dataset.other;
          meta.dataset.other = meta.content;
          meta.content = other;
        }

        document.documentElement.classList.add("dark");
      }
    </script>
    <script
      is:inline
      defer
      data-domain="nray.dev"
      data-api="https://analytics.nray.dev/api/event"
      src="/js/analytics.js"></script>
    <style is:inline>
      html,
      body {
        height: 100%;
      }
    </style>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class="bg-white text-zinc-500 antialiased dark:bg-zinc-900 dark:text-zinc-400"
  >
    <slot />
  </body>
</html>
