---
import { SEO, Props as SeoProps } from "astro-seo";
import "@fontsource/merriweather";
import "@fontsource/merriweather/700.css";

export interface Props extends SeoProps {}
const {
  title = "Nicholas Ray",
  description = "Learn how to build better products. Articles for web developers.",
  ...rest
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <SEO description={description} {...rest} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="theme-color" content="#FAFAFA" data-next="#18181B" />
    <script is:inline>
      const theme = localStorage.getItem("theme");
      const meta = document.currentScript.previousElementSibling;

      if (
        theme === "dark" ||
        (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        const next = meta.dataset.next;
        meta.dataset.next = meta.content;
        meta.content = next;
        document.documentElement.className = (
          document.documentElement.className + " dark"
        ).trim();
      }
    </script>
    <script
      is:inline
      src="https://lively-genuine.nray.dev/script.js"
      data-site="GCZUEQJO"
      defer
    ></script>
    <style is:inline>
      html,
      body {
        height: 100%;
      }
    </style>
  </head>
  <body class="text-zinc-500 antialiased dark:bg-zinc-900 dark:text-zinc-400">
    <slot />
  </body>
</html>
