---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import MailingList from "@components/MailingList.astro";
import Footer from "@components/Footer.astro";
import styles from "./Layout.module.css";
const { mailingListSectionInner, mailingListSection } = styles;
const FORM_URL = "https://app.convertkit.com/forms/3512386/subscriptions";
---

<BaseLayout {...Astro.props}>
  <Header />
  <slot />
  <section class={mailingListSection}>
    <div class={mailingListSectionInner}>
      <MailingList url={FORM_URL} />
    </div>
  </section>
  <Footer />
</BaseLayout>
