---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@/components/Header/Header.astro";
import Footer from "@components/Footer.astro";
---

<BaseLayout {...Astro.props}>
  <div
    class="h-2 bg-gradient-to-r from-cyan-50 to-purple-100 dark:from-cyan-950 dark:to-purple-950"
  >
  </div>
  <Header />
  <slot />
  <Footer />
</BaseLayout>
