---
import Prose from "@components/Prose.astro";
import Layout from "./Layout.astro";
const { title } = Astro.props.frontmatter;
---

<Layout {...Astro.props} title={title} preloadFonts={true}>
  <main>
    <section class="mx-auto mt-16 max-w-3xl">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <Prose>
          <slot />
        </Prose>
      </div>
    </section>
  </main>
</Layout>
