---
import Prose from "@components/Prose.astro";
import Layout from "./Layout.astro";
import { section, sectionInner } from "./MdxLayout.css.ts";
const { title } = Astro.props.frontmatter;
---

<Layout {...Astro.props} title={title}>
  <main>
    <section class={section}>
      <div class={sectionInner}>
        <Prose>
          <slot />
        </Prose>
      </div>
    </section>
  </main>
</Layout>
