---
interface Props {
  key: string | number;
  class?: string;
}

const { key, class: className } = Astro.props;
---

<div
  id={`accordion-content-${key}`}
  role="region"
  aria-labelledby={`accordion-trigger-${key}`}
  class:list={["accordion-content", className]}
>
  <slot />
</div>
